<app-toolbar></app-toolbar>
<!-- Tile Sides Section -->
<!-- TODO: explain search, capitalization doens't matter -->
<div class="section">
  <div class="sectionExplanation">
    <h2 class="sectionTitle">Sides</h2>
    <p class="sectionBody">
      You can search based on the sides of a tile by using the
      <span class="keyword">sides:</span> or
      <span class="keyword">s:</span> keywords.
    </p>
    <p class="sectionBody">
      These keywords should be followed by 1-4 letters representing the sides of
      the tile in clockwise order.
    </p>
    <p class="sectionBody">
      Known sides are:
      <li><span class="keyword">c</span> for city</li>
      <li><span class="keyword">f</span> for field</li>
      <li><span class="keyword">r</span> for road</li>
      <li><span class="keyword">s</span> for river (think "stream")</li>
    </p>
    <p class="sectionBody">
      Orientation does not matter for the purpose of this search. Any rotation
      of the search parameters will be considered an acceptable result (e.g.
      <span class="keyword">s:sfrc</span>, <span class="keyword">s:csfr</span>,
      <span class="keyword">s:rcsf</span>, and
      <span class="keyword">s:frcs</span> are all equivalent).
    </p>
    <p class="sectionBody">
      If you want to search for a tile with city tiles on opposite sides and
      don't care about the sides in between, you should use the wildcard
      character
      <span class="keyword">-</span> to represent the sides you don't care
      about.
    </p>
  </div>
  <div class="sectionExamples">
    <div class="exampleSearch" [routerLink]="['/search', 's:ccff']">
      <p class="keyword">s:ccff</p>
      <p>Tiles that have two adjacent castles, then two fields</p>
    </div>
    <div class="exampleSearch" [routerLink]="['/search', 's:r-r-']">
      <p class="keyword">s:r-r-</p>
      <p>
        Tiles that have roads on opposite edges, and anything on the other two
      </p>
    </div>
    <div class="exampleSearch" [routerLink]="['/search', 'sides:s']">
      <p class="keyword">sides:s</p>
      <p>Tiles where at least one of the edges is a river</p>
    </div>
  </div>
</div>
<hr />

<!-- Tile Contents Section -->
<div class="section">
  <div class="sectionExplanation">
    <h2 class="sectionTitle">Tile Contents</h2>
    <p class="sectionBody">
      You can search tiles based on whether they containa certain game feature
      by specifying the feature name as a search keyword.
    </p>
    <p class="sectionBody">
      Known features are:
      <li>
        Monasteries (written as <span class="keyword">monastery</span>,
        <span class="keyword">mon</span>, or <span class="keyword">m</span>)
      </li>
      <li>
        Coat of Arms (written as <span class="keyword">coa</span>,
        <span class="keyword">shield</span>, or
        <span class="keyword">coat-of-arms</span>)
      </li>
      <li>
        Gardens (written as <span class="keyword">garden</span> or
        <span class="keyword" keyword>g</span>)
      </li>
      <li>
        Inns (written as <span class="keyword">inn</span> or
        <span class="keyword">i</span>)
      </li>
      <li>
        Cathedrals (written as <span class="keyword">cathedral</span>,
        <span class="keyword">cath</span>, or <span class="keyword">c</span>)
      </li>
    </p>
    <p class="sectionBody">
      These searches can be performed either inclusively or exclusively. To
      perform an exclusive search, the search term should be followed with a
      colon and an operand meaning false (such as
      <span class="keyword">f</span>). To perform an exclusive search, the
      search term should be followed with a colon and an operand meaning true
      (such as <span class="keyword">t</span>).
    </p>
  </div>
  <div class="sectionExamples">
    <div class="exampleSearch" [routerLink]="['/search', 'm:t']">
      <p class="keyword">m:t</p>
      <p>Tiles with monasteries</p>
    </div>
    <div class="exampleSearch" [routerLink]="['/search', 'coa:f']">
      <p class="keyword">coa:f</p>
      <p>Tiles without coat of arms</p>
    </div>
    <div class="exampleSearch" [routerLink]="['/search', 'garden inn:f']">
      <p class="keyword">garden inn:f</p>
      <p>Tiles with a garden, but without an inn</p>
    </div>
  </div>
</div>
<hr />

<!-- Expansions Section -->
<div class="section">
  <div class="sectionExplanation">
    <h2 class="sectionTitle">Expansions</h2>
    <p class="sectionBody">
      You can search for tiles from a specific expansion by using the
      <span class="keyword">expansion:</span> or
      <span class="keyword">exp:</span> keywords, followed by the name of the
      expansion to search for.
    </p>
    <p class="sectionBody">
      Valid forms for the expansion name are: camelCase, snake_case, and
      kebab-case, as well as abbreviations wherever one can be inferred. For the
      purposes of this search, capitalization does not matter.
    </p>
  </div>
  <div class="sectionExamples">
    <div
      class="exampleSearch"
      [routerLink]="['/search', 'expansion:inns-and-cathedrals']"
    >
      <p class="keyword">expansion:inns-and-cathedrals</p>
      <p>Tiles from the Inns and Cathedrals expansion</p>
    </div>
    <div
      class="exampleSearch"
      [routerLink]="['/search', 'exp:baseset']"
    >
      <p class="keyword">exp:baseset</p>
      <p>Tiles from the Traders and Builders expansion</p>
    </div>
  </div>
</div>
<hr />

<!-- Printings Section -->
<div class="section">
  <div class="sectionExplanation">
    <h2 class="sectionTitle">Printings</h2>
    <p class="sectionBody">
      You can search for tiles from a specific printing by using the
      <span class="keyword">printing:</span> or
      <span class="keyword">print:</span> keywords, followed by the name of the
      printing to search for.
    </p>
    <p class="sectionBody">
      Valid forms for the printing name are: camelCase, snake_case, and
      kebab-case, as well as abbreviations wherever one can be inferred. For the
      purposes of this search, capitalization does not matter.
    </p>
  </div>
  <div class="sectionExamples"></div>
  <!-- TODO: examples -->
</div>
<hr />

<!-- Boolean Expressions Section -->
<div class="section">
  <div class="sectionExplanation">
    <h2 class="sectionTitle">Boolean Expressions</h2>
    <p class="sectionBody">
      All of the above search terms work by searching the list of all existing
      tiles to see if they match a given criteria. If you want to search for
      tiles that meet multiple different criteria, that contain one or more
      different features, or the inverse of a search term, you can use boolean
      expressions.
    </p>
    <p class="sectionBody">
      By default, all search terms are combined with the logical 'and' operator.
      This means all tiles found by the search must match all criteria
      specified. If preferred, you can use the keyword
      <span class="keyword">and</span> (or <span class="keyword">&</span>) to
      explicitly show this relationship in a search.
    </p>
    <p class="sectionBody">
      If you want to search for tiles that meet at least one of two search
      terms, you would use the logical 'or' operator (written as either
      <span class="keyword">or</span> or <span class="keyword">|</span>). This
      must be explicitly stated in the search, as otherwise the default 'and'
      operator will be used to join two search functions.
    </p>
    <p class="sectionBody">
      If you want to search for all tiles that do not meet a certain criteria,
      you can use the logical 'not' operator (specified by either
      <span class="keyword">not</span> or <span class="keyword">!</span>). When
      placed before a search keyword, this will return the inverse of what that
      keyword is searching for.
    </p>
  </div>
  <div class="sectionExamples">
    <!-- TODO: examples -->
  </div>
</div>
<hr />

<div class="section">
  <div class="sectionExplanation">
    <h2 class="sectionTitle">Order of Operations</h2>
    <!-- TODO: content -->
  </div>
  <div class="sectionExamples">
    <!-- TODO: content -->
  </div>
</div>
