<app-toolbar></app-toolbar>
<!-- Tile Sides Section -->
<div class="section">
  <div class="sectionExplanation">
    <h2 class="sectionTitle">Sides</h2>
    <p class="sectionBody">
      You can search based on the sides of a tile by using the
      <span class="keyword">sides:</span> or
      <span class="keyword">s:</span> keywords.
    </p>
    <p class="sectionBody">
      These keywords should be followed by 1-4 letters representing the sides of
      the tile in clockwise order.
    </p>
    <p class="sectionBody">
      Known sides are:
      <li><span class="keyword">c</span> for city</li>
      <li><span class="keyword">f</span> for field</li>
      <li><span class="keyword">r</span> for road</li>
      <li><span class="keyword">s</span> for river (think "stream")</li>
    </p>
    <p class="sectionBody">
      Orientation does not matter for the purpose of this search. Any rotation
      of the search parameters will be considered an acceptable result (e.g.
      <span class="keyword">s:sfrc</span>, <span class="keyword">s:csfr</span>,
      <span class="keyword">s:rcsf</span>, and
      <span class="keyword">s:frcs</span> are all equivalent).
    </p>
    <p class="sectionBody">
      If you want to search for a tile with city tiles on opposite sides and
      don't care about the sides in between, you should use the wildcard
      character
      <span class="keyword">-</span> to represent the sides you don't care
      about.
    </p>
  </div>
  <div class="sectionExamples">
    <div class="exampleSearch">
      <p class="keyword">s:ccff</p>
      <p>Tiles that have two adjacent castles, then two fields</p>
    </div>
    <div class="exampleSearch">
      <p class="keyword">s:r-r-</p>
      <p>
        Tiles that have roads on opposite edges, and anything on the other two
      </p>
    </div>
    <div class="exampleSearch">
      <p class="keyword">s:s</p>
      <p>Tiles where at least one of the edges is a river</p>
    </div>
  </div>
</div>
<hr />

<!-- Tile Contents Section -->
<div class="section">
  <div class="sectionExplanation">
    <h2 class="sectionTitle">Tile Contents</h2>
    <p class="sectionBody">
      You can search tiles based on whether they containa certain game feature
      by specifying the feature name as a search keyword.
    </p>
    <p class="sectionBody">
      Known features are:
      <li>
        Monasteries (written as <span class="keyword">monastery</span>,
        <span class="keyword">mon</span>, or <span class="keyword">m</span>)
      </li>
      <li>
        Coat of Arms (written as <span class="keyword">coa</span>,
        <span class="keyword">shield</span>, or
        <span class="keyword">coat-of-arms</span>)
      </li>
      <li>
        Gardens (written as <span class="keyword">garden</span> or
        <span class="keyword" keyword>g</span>)
      </li>
      <li>
        Inns (written as <span class="keyword">inn</span> or
        <span class="keyword">i</span>)
      </li>
      <li>
        Cathedrals (written as <span class="keyword">cathedral</span>,
        <span class="keyword">cath</span>, or <span class="keyword">c</span>)
      </li>
    </p>
    <p class="sectionBody">
      These searches can be performed either inclusively or exclusively. To
      perform an exclusive search, the search term should be followed with a
      colon and an operand meaning false (such as
      <span class="keyword">f</span>). To perform an exclusive search, the
      search term should be followed with a colon and an operand meaning true
      (such as <span class="keyword">t</span>).
    </p>
  </div>
  <div class="sectionExamples">
    <div class="exampleSearch">
      <p class="keyword">m:t</p>
      <p>Tiles with monasteries</p>
    </div>
    <div class="exampleSearch">
      <p class="keyword">coa:f</p>
      <p>Tiles without coat of arms</p>
    </div>
    <div class="exampleSearch">
      <p class="keyword">garden and inn:f</p>
      <p>Tiles with a garden, but without an inn</p>
    </div>
  </div>
</div>
<hr />

<!-- Expansions Section -->
<div class="section">
  <div class="sectionExplanation">
    <h2 class="sectionTitle">Expansions</h2>
  </div>
  <div class="sectionExamples"></div>
</div>
<hr />

<!-- Printings Section -->
<div class="section">
  <div class="sectionExplanation">
    <h2 class="sectionTitle">Printings</h2>
  </div>
  <div class="sectionExamples"></div>
</div>
<hr />

<!-- Boolean Expressions Section -->
<div class="section">
  <div class="sectionExplanation">
    <h2 class="sectionTitle">Boolean Expressions</h2>
  </div>
  <div class="sectionExamples"></div>
</div>
