<div>
    <img src="assets/meeple.svg" alt="meeple" width="25px">
    <h3>Search Pieces</h3>
    <input type="text" [(ngModel)]="sidesSearch" (input)="applySearch()" placeholder="Search by shape" maxlength="4"/>
    <input type="checkbox" [(ngModel)]="monasterySearch" (change)="applySearch()" id="monasterySearch"/>
    <input type="checkbox" [(ngModel)]="shieldSearch" (change)="applySearch()" id="shieldSearch"/>
</div>
<div class="results">
    <p [innerHTML]="searchMessage"></p>
    <div class="resultsGrid">
    <app-tile *ngFor="let tile of tileList" [tile]="tile"></app-tile>
    </div>
</div>